body {
  margin: 0;
  padding: 0;
  background: #14495e;
}

button {
  margin-right: 10px;
  background-color: thistle;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 75px; 
  width: 125px; 
}

.face {
  height: 80%;
  }

.eyes {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  z-index: 1;
  }

.eye {
  width: 240px;
  height: 120px;
  background: #fff;
  display: inline-block;
  margin: 40px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  z-index: 2;
  border: hotpink;
  border-width: 5px;
  border-style: solid;
  }

.ball {
  width: 80px;
  height: 80px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: (-50%, -50%);
  border-radius: 50%;
  border-color:  #000;
  border-width: 20px;
  border-style: solid;
  z-index: 3;
  }

.controls {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.eye_shadow_box {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 50px 50px;
  border: 2px solid white;
  float: left;
  margin: 0px 25px;
  }

.shade {
  border: 2px solid silver;
  }

.hot-pink {
  background-color: hotpink;
  }

.plum {
  background-color: plum;  
  }

.cyan {
  background-color: cyan; 
  }

.gold {
  background-color: gold; 
  }

.lemon-chiffon {
  background-color: lemonchiffon; 
  }

.chartreuse {
  background-color: chartreuse; 
  }